.idea/
*.iml
*.iws

.env
### Scala ###
*.class
*.log

hs_err_pid*
.env.*

.metals/
.bloop/
.bsp/

# sbt
/target/
/project/target/
/project/project/
logs/
/dist/
/out/

# sbt assembly jar
*.jar
*.war
*.zip

!/dist/*.jar
!/deploy/*.jar

/data

*.json
*.csv